@model UserOutModel
@{
    Layout = "_LayoutLogin"; //Importando o Layout de Login
    ViewData["Title"] = "Confirmação de email";
}


<div class="wrapper fadeInDown">


    @if (TempData["MensagemErro"] != null)
    {
        <!--Mensagem de erro-->
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm" id="close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
    <br />

    <!--Formulário Redefinir Senha-->
    <div id="formContent">
        <form asp-controller="Login" asp-action="ConfirmUser" method="post">
            <div>
                <input id="login" class="form-control fadeIn second" placeholder="Código" type="text" asp-for="VerifyEmail">
            </div>
            
            <input type="submit" class="fadeIn fourth" value="Verificar Email" />
        </form>
        <div id="formFooter">
            <a class="btn btn-dark btn-block" asp-controller="Login" asp-action="Index">Voltar</a>
        </div>

    </div>
</div>
