@model LoginModel
@{
    Layout = "_LayoutLogin"; //Importando o Layout de Login
    ViewData["Title"] = "Login";
}
@if (TempData["MensagemSucesso"] != null)
{
    <!--Mensagem de sucesso-->
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm" id="close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}
@if (TempData["MensagemErro"] != null)
{
    <!--Mensagem de erro-->
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm" id="close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}
<br />

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://media4.giphy.com/media/H6KB7Tqy3OlOM/giphy.gif?cid=ecf05e47wv4dd4zb70ug3h250ghiyjilabiy99gexo797bkt&rid=giphy.gif&ct=g" id="icon" alt="User Icon" />
        </div>
        <!--Formulário de Login-->
        <form asp-controller="Login" asp-action="Entry" method="post">
            <div>
                <input id="login" class="form-control fadeIn second" placeholder="Usuário" name="login" type="text" asp-for="Login">
                @Html.ValidationMessageFor(x => x.Login)
            </div>
            <div>
                <input id="senha" class="form-control fadeIn third" placeholder="Senha" type="password" asp-for="Password">
                @Html.ValidationMessageFor(x => x.Password)
            </div>

            <input type="submit" class="fadeIn fourth" value="Entrar" />
        </form>
        <!--Esqueci a senha-->
        <div id="formFooter">
            <a class="underlineHover" asp-controller="Login" asp-action="ResetPassword">Esqueci minha senha</a>
        </div>
        <div id="formFooter">
            <a class="underlineHover" asp-controller="Login" asp-action="CreateUser">Cadastre-se</a>
        </div>

    </div>
</div>