@model ResetPasswordModel
@{
    Layout = "_LayoutLogin"; //Importando o Layout de Login
    ViewData["Title"] = "Redefinir Senha";
}


<div class="wrapper fadeInDown">


    @if (TempData["MensagemErro"] != null)
    {
        <!--Mensagem de erro-->
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm" id="close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
    <br />

    <!--Formulário Redefinir Senha-->
    <div id="formContent">
        <form asp-controller="Login" asp-action="SendLink" method="post">
            <div>
                <input id="login" class="form-control fadeIn second" placeholder="Usuário" type="text" asp-for="Login">
                @Html.ValidationMessageFor(x => x.Login)
            </div>
            <div>
                <input id="email" class="form-control fadeIn third" placeholder="Email" type="email" asp-for="Email">
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <input type="submit" class="fadeIn fourth" value="Redefinir Senha" />
        </form>
        <div id="formFooter">
            <a class="btn btn-dark btn-block" asp-controller="Login" asp-action="Index">Voltar</a>
        </div>

    </div>
</div>
<!--
<form asp-controller="Login" asp-action="SendLink" method="post">
    <div class="mb-3">
        <label for="login" class="form-label">Login:</label>
        <input id="login" type="text" class="form-control" asp-for="Login">

    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" asp-for="Email">

    </div>
    <button type="submit" class="btn btn-block btn-info">Redefinir senha</button>
    <a role="button" class="btn btn-dark btn-block" asp-controller="Login" asp-action="Index">Voltar</a>

</form>
-->
