@*
    A VIEW é responsável pela exibição das informações, além de ser quem recebe as requisições e mandar para a controller
    o pedido feito.

    --O Razor permite que se escreva uma mistura de código HTML e do lado do servidor usando o C#
    
*@

<!--Importando a UserModel para a View-->
@model HomeModel
@{
    ViewData["Title"] = "Home";
}

<div class="bg">
    <h1 class="titulo">Gerenciador de Livros</h1>
</div>