@{ 
    Layout = "_LayoutLogin";
    ViewData["Title"] = "restricted";
}
<p>Você não tem permissão para acessar essa funcionalidade, 
    <a asp-controller="Home" asp-action="Index">Clique aqui para voltar à Página Inicial</a></p>